* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body {
    background-color: #E0F8F7;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
}
.header {
    background: red;
    margin: 5px;
    padding: 5px;
 }
.item-header {
    background-color: blue;
    margin: 5px;
    color: white;
    text-align:center;
 }
.header {
    display:flex;
}
.item-header img {
    width:240px;
    height:100px;
}
#logo {
    width:250px;
    height: 100px;
}
#search-control {
    flex-grow: 1;
}
.search-input {
    width:86%;
    height:50%;
    margin-top:20px;
    margin-bottom:0;
    border-radius:5px;
    border:1px solid gray;
}
.navigation-menu {
    list-style-type:none;
    display:flex;
    background-color:green;
    margin:5px 5px;
    text-align:center;
}
.item {
    width:200px;
    margin:5px;
    line-height: 50px;
    cursor:pointer;
}

a {
    text-decoration: none;
    color:#3b8bba;
    transition:all 0.5s;
    padding:20px 60px;
    -moz-transition:all 0.5s;
    -webkit-transition:all 0.5s;
}
a:hover {
    color:white;
    background-color:red;
}
.item-5, .item-6 {
    width:20px;
}
.search-by-tool {
    display:flex;
    flex-direction: column;
    width:200px;
    max-height:490px;
    background-color:yellowgreen;
    margin:5px;
    border:2px solid yellow;
}
.it-1{
    background-color:gold;
    height:40px;
    margin-top:0;
    padding-top:10px;
    text-align: center;
}
.it-2, .it-3, .it-4 {
    height:35px;
    border:1px solid blue;
    margin:2px 6px;
    padding:10px;
    border-radius:8px;
}
.it-5, .it-9 {
    font-size:13px;
    margin-left:7px;
}
.it-6,.it-7,.it-8,.it-11{
    margin-left:20px;
    padding:5px;
    font-size:14px;
}
.it-10 {
    height:35px;
    border:1px solid blue;
    border-radius:8px;
    padding:10px;
    margin-left:20px;
    margin-right:10px;
}
button.it-12 {
    color:white;
    height:40px;
    background-color:red;
    border-radius: 5px;
    margin:10px;
    cursor:pointer;
    transition: all 0.5;
    -moz-transition:all 0.5s;
    -webkit-transition:all 0.5s;
    font-size:14px;
}
.it-12:hover{
    color:red;
    background-color:white;
}
.wrap {
    display:flex;
}
.container-product{
    display:flex;
    flex-wrap:wrap;
}
.container-product img {
    height:300px;
    width:300px;
}
.product-show {
   padding:2px;
   margin:3px;
   border:1px solid gray;
   display:flex;
   flex-direction: column;

}
.product-show p{
    margin-left:10px;
}
p.cost {
    font-size:14px;
    color:red;
}